[Match]
Name={{ lan_interface }}
Type=ether

[Network]
Address={{ address }}
ConfigureWithoutCarrier=yes
DHCPServer=true
IPv6PrivacyExtensions=no
IPv6SendRA=yes
DHCPv6PrefixDelegation=yes

[DHCPServer]
UplinkInterface={{ wan_interface }}
ServerAddress={{ address }}
PoolOffset=70
PoolSize=130
EmitDNS=yes
DNS=_server_address
LeaseLifetimeSec=3600

[IPv6SendRA]
UplinkInterface={{ wan_interface }}
EmitDNS=yes
DNS=_link_local

{% for host in dhcp_reservations %}
[DHCPServerStaticLease]
MACAddress={{ host.mac }}
Address={{ host.address | ansible.utils.ipv4('address') }}

{% endfor %}
