#!/usr/bin/nft -f
# vim:set ts=2 sw=2 et:

destroy table inet filter
table inet filter {
  chain input {
    type filter hook input priority filter
    policy drop

    ct state invalid drop
    ct state {established, related} accept
    iif lo accept

    iifname "{{ lan_bridge }}" udp dport {53, 67, 80} accept

    ip protocol icmp accept
    meta l4proto ipv6-icmp accept
    tcp dport ssh accept

    iifname "{{ lan_bridge }}" udp dport mdns ip6 daddr ff02::fb accept
    iifname "{{ lan_bridge }}" udp dport mdns ip daddr 224.0.0.251 accept

    pkttype host limit rate 5/second counter reject with icmpx type admin-prohibited
    counter
  }

  chain forward {
    type filter hook forward priority filter
    policy drop

    iifname "{{ lan_bridge }}" accept
    oifname "{{ lan_bridge }}" accept
  }

  chain nat {
    type nat hook postrouting priority srcnat; policy accept;
    ip saddr {{ address | ansible.utils.ipaddr('network/prefix') }} ip daddr != {{ address | ansible.utils.ipaddr('network/prefix') }} masquerade
  }
}

